<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Audio Toolbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>自定义cell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23474A1C1F2595FC00BA9F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234F91EA1F1E0ABD0000F3DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234F92031F1E0ABD0000F3DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234F920E1F1E0ABD0000F3DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
